.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  position: absolute;
  inset: 0;
  top: 120px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.timeline-dot {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  background-color: #915eff;
}

.timeline {
  width: 0.25rem;
  height: 10rem;

  @media (min-width: 640px) {
    height: 20rem;
  }
}

.name-container {
  color: white;
}

.name {
  color: #915eff;
}

.desc {
  margin-top: 0.5rem;
  color: var(--white-100);
}

.break {
  display: none;

  @media (min-width: 640px) {
    display: block;
  }
}

.scroll-button {
  position: absolute;
  display: flex;
  bottom: 8rem;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 450px) {
    bottom: 2.5rem;
  }

  & .button {
    width: 35px;
    height: 64px;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 4px;
    border-color: var(--secondary-color);
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;

    &--motion {
      margin-bottom: 0.25rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 9999px;
      background: var(--secondary-color);
    }
  }
}
