.padding-x {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: 640px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.padding-y {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @media (min-width: 640px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media (min-width: 640px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.hero-head-text {
  margin-top: 0.5rem;
  color: #ffffff;
  font-weight: 900;
  font-size: 40px;

  @media (min-width: 450px) {
    font-size: 50px;
  }

  @media (min-width: 640px) {
    font-size: 60px;
  }

  @media (min-width: 1024px) {
    font-size: 80px;
    line-height: 98px;
  }
}

.hero-sub-text {
  font-weight: 500;
  color: #dfd9ff;
  font-size: 16px;

  @media (min-width: 450px) {
    font-size: 20px;
  }

  @media (min-width: 640px) {
    font-size: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 40px;
  }
}

.section-head-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 30px;

  @media (min-width: 450px) {
    font-size: 40px;
  }

  @media (min-width: 640px) {
    font-size: 50px;
  }

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.section-sub-text {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--secondary-color);

  @media (min-width: 640px) {
    font-size: 18px;
  }
}
